* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #869eb6;
}

header {
    position: relative;
    overflow: hidden;
}

.hero {
    background: linear-gradient(135deg, rgba(50, 42, 112, 0.9), rgba(52, 114, 138, 0.9));
    color: #fffbfb;
    padding: 100px 20px;
    text-align: center;
}

.cta {
    display: inline-block;
    margin-top: 20px;
    padding: 12px 25px;
    background: #2b8875;
    color: #faf2f2;
    border-radius: 30px;
    text-decoration: none;
    transition: background 0.3s, transform 0.3s;
}

.cta:hover {
    background: #1e5246;
    transform: scale(1.05);
}

nav {
    background: #2d3436;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    color: #f7fafc;
    padding: 15px;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #6a6c6c;
}

main {
    padding: 20px;
}

section {
    margin: 30px 0;
    padding: 30px;
    background: #dfdada;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

h3 {
    color: #110b43;
    margin-bottom: 20px;
    text-align: center;
    font-size: 1.8em;
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 100px;
    justify-items: center;
}

.project-card {
    background: #8c9399;
    border-radius: 10px;
    padding: 20px;
    transition: transform 0.3s, box-shadow 0.3s;
    position: relative;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 300px;;
}

.project-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.skills-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.skill-badge {
    background: rgba(19, 7, 105, 0.7);
    color: #f4eded;
    padding: 12px 18px;
    border-radius: 25px;
    transition: transform 0.3s, background 0.3s;
    animation: fadeIn 0.5s ease-in-out;
}

.skill-badge:hover {
    transform: scale(1.1);
    background: rgb(35, 31, 62);
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

footer {
    text-align: center;
    padding: 20px;
    background: #1c444f;
    color: #fff;
    width: 100%;
    position: relative;
}

